##################################################
#
# RigidFibers.gitignore
#
##################################################

# compiler output
*.o
*.mod

# simulation output
*.out
rep*.txt
pars*.m
XcTData*
VelRotData*
Coeffvec*
fort.*

# binary output
ADVECT_FIBERS

# build output
build/

# random layouts
tools/*.in

# html
bower_components/

# docs
# binary file, too large for git
# only needed for debugging
docs/raw_data_comparison.xlsb

##################################################
#
# OSX.gitignore
#
##################################################
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

##################################################
#
# Windows.gitignore
#
##################################################
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
